@import url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo.css');

body {
    margin: 0;
    background-color: #EEEEEE;
    margin-top: 140px;
    font-family: 'NanumSquareNeo', sans-serif;
}

#navbar {
    background: rgba(72, 153, 224, 0.9); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    padding: 0.5rem 1rem; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    backdrop-filter: blur(10px);
}


.search {
    position: relative;
    width: 350px;
    margin-right: 50px;
}

.search input {
    width: 100%;
    height: 40px;
    border: 1px solid #bbb;
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 20px;
}

.search img {
    position: absolute;
    width: 40px;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
}


#logo-image {
    width: 260px;
    height: 60px;
    padding: 10px;
}

#expand-search {
    background-color: white;
    position: absolute;
    top: 100px;
    height: 250px;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

#expand-search input {
    width: 95%;
    height: 50%;
    border: 0;
    border-bottom: 1px solid lightslategrey;
    font-size: 50px;
    padding-left: 10px;
}

#expand-search img {
    position: absolute;
    width: 60px;
    right: 60px;
    top: 50%;
    transform: translateY(-50%);
}

.search-btn {
    background-color: white;
    border: none;
}

#close-btn {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 20px;
    top: 5%;
    background-color: white;
    font-size: 30px;
    border: 0;
    border-radius: 100%;
}

@media screen and (max-width: 1200px) and (min-width: 600px) {
    .search {
        position: relative;
        width: 300px;
        margin-right: 50px;
    }

    .search input {
        width: 100%;
        height: 32px;
        border: 1px solid #bbb;
        border-radius: 8px;
        padding: 10px 12px;
        font-size: 16px;
    }

    .search img {
        position: absolute;
        width: 30px;
        right: 0px;
        top: 50%;
        transform: translateY(-50%);
    }

    #logo-image {
        width: 200px;
        height: 46px;
        padding: 10px;
    }

    #expand-search {
        background-color: white;
        position: absolute;
        top: 86px;
        height: 200px;
        width: 100%;
        display: none;
        justify-content: center;
        align-items: center;
    }

    #expand-search input {
        width: 95%;
        height: 50%;
        border: 0;
        border-bottom: 1px solid lightslategrey;
        font-size: 40px;
        padding-left: 10px;
    }

    #expand-search img {
        position: absolute;
        width: 50px;
        right: 50px;
        top: 50%;
        transform: translateY(-50%);
    }

    #close-btn {
        position: absolute;
        width: 30px;
        height: 30px;
        right: 20px;
        top: 5%;
        background-color: white;
        font-size: 20px;
        border: 0;
        border-radius: 100%;
    }
}

@media screen and (max-width: 600px) {
    .search {
        position: relative;
        width: 200px;
        margin-right: 50px;
    }

    .search input {
        width: 100%;
        height: 26px;
        border: 1px solid #bbb;
        border-radius: 8px;
        padding: 10px 12px;
        font-size: 12px;
    }

    .search img {
        position: absolute;
        width: 20px;
        right: 0px;
        top: 50%;
        transform: translateY(-50%);
    }

    #logo-image {
        width: 130px;
        height: 30px;
        padding: 10px;
    }

    #expand-search {
        background-color: white;
        position: absolute;
        top: 70px;
        height: 120px;
        width: 100%;
        display: none;
        justify-content: center;
        align-items: center;
    }

    #expand-search input {
        width: 95%;
        height: 50%;
        border: 0;
        border-bottom: 1px solid lightslategrey;
        font-size: 25px;
        padding-left: 10px;
    }

    #expand-search img {
        position: absolute;
        width: 30px;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
    }

    #close-btn {
        position: absolute;
        width: 30px;
        height: 30px;
        right: 20px;
        top: 5%;
        background-color: white;
        font-size: 15px;
        border: 0;
        border-radius: 100%;
    }
}

#close-btn:hover {
    background-color: gray;
    color: white;
}

h1 {
    font-size: 50px;
}

.large-text {
    padding-left: 1%;
}

#todaycurrent {
    padding-left: 1%;
    font-size: 30px;
    font-weight: 600;
}

#viewtime {
    font-size: 20px;
}

#current-table {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#current-table {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#interest-table {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box {
    min-height: 300px;
    flex-basis: 23%;
    flex-shrink: 1;
    flex-grow: 1;
    padding: 0.5%;
    background-color: white;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-collapse: collapse;
}

#left-box {
    border-left: none;
    margin-left: 1%;
}

#right-box {
    border-right: none;
    margin-right: 1%;
}

@media screen and (max-width: 1200px) and (min-width: 600px) {
    .box {
        flex-basis: 47%;
        margin: 1%;
        border: none;
    }
}

@media screen and (max-width: 600px) {
    .box {
        flex-basis: 98%;
        margin: 1%;
        border: none;
    }
}


.flag {
    width: 30px;
    height: 20px;
}

.country-name {
    font-weight: 700;
    font-size: 30px;
    margin: 10px;
}

.unit {
    float: right;
    font-weight: 300;
    font-size: 20px;
}

.exchange-rate {
    font-weight: 700;
    font-size: 40px;
    color: green;
}

.diff {
    font-size: 30px;
}

.table-text {
    font-size: 20px;
    margin: 5px;
}

.table-text-right {
    float: right;
}

.wrap-container {
    height: auto;
    min-height: 100%;
    padding-bottom: 120px;
}

.home-container {
    min-height: 600px;
}

footer {
    height: 60px;
    position: relative;
    transform: translateY(0%);
    border-top: 1px solid black;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
}

.interest {
    float: right;
    width: 60px;
    height: 60px;
    background-color: white;
    border: none;
}

.interest img {
    width: 50px;
    height: 50px;
}

.searchpage-box {
    min-height: 300px;
    flex-basis: 92%;
    flex-shrink: 1;
    flex-grow: 1;
    margin: 2%;
    padding: 1%;
    background-color: white;
}

.searchpage-flag {
    width: 60px;
    height: 40px;
}

.searchpage-country-name {
    font-weight: 700;
    font-size: 50px;
    margin: 10px;
}

.searchpage-unit {
    font-size: 40px;
    font-weight: 300;
}

.searchpage-exchange-rate {
    font-weight: 700;
    font-size: 50px;
    color: green;
}

.searchpage-diff {
    font-size: 40px;
}

.searchpage-table-text {
    font-size: 40px;
}

@media screen and (max-width: 1200px) and (min-width: 600px) {
    .searchpage-flag {
        width: 60px;
        height: 40px;
    }

    .searchpage-country-name {
        font-weight: 700;
        font-size: 50px;
    }

    .searchpage-unit {
        font-size: 40px;
        font-weight: 300;
    }

    .searchpage-exchange-rate {
        font-weight: 700;
        font-size: 50px;
        color: green;
    }

    .searchpage-diff {
        font-size: 40px;
    }

    .searchpage-table-text {
        font-size: 40px;
    }
}

@media screen and (max-width: 600px) {
    .box {
        flex-basis: 98%;
        margin: 1%;
        border: none;
    }
}

